/* Estilos generales del cuerpo (body) */
body {
    background-color: #f5f5f5; /* Color de fondo del cuerpo */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 1.5%;
}

/* Estilos del contenedor principal */
.container {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.80); /* Fondo del contenedor principal */
    height: auto;
    min-height: 40vw;
    width: 60vw;
    background-image: url(../public/Vector\ 1.png); /* Imagen de fondo */
    background-size: 70%; /* Tamaño de la imagen de fondo */
    background-position: left;
    background-repeat: no-repeat;
}

/* Estilos del título principal */
.titulo-principal {
    color: #FFFFFF; /* Color del texto */
    margin-left: 10%;
    padding: 2%;
    margin-top: -0.5%;
    width: max-content;
}


/* Estilo del icono de tick */
.icono-tick {
    background: url('../public/tick.png') no-repeat;
    background-size: contain;
    width: 20px; /* Ajusta según sea necesario */
    height: 20px; /* Ajusta según sea necesario */
    margin-left: 33%; /* Espacio entre el input y el icono */
    margin-top: -3.5%;
    opacity: 0; /* Por defecto, el icono no es visible */
}

/* Estilos del input cuando es válido */
input:valid + .icono-tick {
    opacity: 1; /* Muestra el icono cuando el input es válido */
}


.titulo {
    display: flex;
    justify-content: center;
}

.imagen-superpuesta {
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 1;
    margin-left: 25%;
    margin-top: -4%;
}

/* Estilos del título responsive (oculto por defecto) */
.titulo-responsive {
    display: none;
}

/* Estilos de las secciones del formulario */
.distribucion_formulario {
    display: flex;
    flex-direction: column;
    margin-left: -5%;
}

/* Estilos del botón en general */
.boton-enviar,
.boton-añadir {
    width: 15%;
    height: 25%;
    border-radius: 5px;
    background: #341BC8; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-size: 18px;
    margin-left: 9%;
}

/* Estilos de cada elemento de usuario en la lista */
.usuario-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    background: linear-gradient(180deg, #9A9A9A 0%, rgba(255, 255, 255, 0.00) 100%);
    border-radius: 5%;
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.boton-añadir {
    margin-left: 5%;
    margin-top: 1%; /* Ajusta según sea necesario */
}

/* Estilos para la información del usuario */
.usuario-info {
    flex-grow: 1; /* Que ocupe todo el espacio disponible */
}

.boton-eliminar,
.boton-editar {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: linear-gradient(180deg, #9A9A9A 0%, rgba(255, 255, 255, 0.00) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 20px;
    margin-top: 16%;
}

.papelera {
    height: 20px;
    background: none;
    border-style: none;
    height: 20px;
    width: 20px;
    bottom: none;
}

/* Estilos de las etiquetas de los inputs */
label {
    font-weight: bold;
    color: white;
}

/* Estilos de los inputs en el formulario */
input {
    height: 2.5vw;
    width: 20vw;
    border-radius: 3px;
    border-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.mail,
.male,
.whatsapp {
    display: flex;
    height: 20px;
    width: 25px;
    margin-top: 5%;
}

/* Estilos de las secciones de nombre y edad, email y teléfono */
.nombre,
.edad,
.email,
.telefono {
    padding: 2%;
    margin-left: 8%;
}

/* Estilos del botón de enviar */
.boton-enviar {
    width: 15%;
    height: 5%;
    margin-left: 68%;
    margin-top: 2%;
}

.boton-añadir {
    margin-left: 5%;
}

/* Estilos del contenedor de usuarios */
.distribucion_usuarios {
    overflow-y: auto;
    height: 30vw;
    width: 28.5vw;
    border-radius: 5px;
    justify-content: center;
    margin-left: 52%;
    margin-top: -48%;
    background: linear-gradient(180deg, #9A9A9A 0%, #ffffff00 100%);
}

.mensaje-error {
    color: red;
    font-size: 18px;
    text-align: left;
    margin-left: 45px;
}


/* Ajustes para la versión responsive */
@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
        height: 100%;
        background-image: none;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.90);
    }

    .vector {
        height: auto;
        width: auto;
    }

    input {
        width: 70vw;
        height: 7vw;
        margin-top: 2%;
    }

    .imagen-superpuesta {
        margin-top: -97%;
        margin-left: 80%;
        width: 8%;
        height: 5%;
    }

    .logo {
        display: none;
    }

    .boton-enviar,
    .boton-añadir {
        width: 80%;
    }
    .icono-tick {
        margin-left: 78%; /* Ajusta según sea necesario en modo responsive */
        margin-top: -7%;
    }


    .boton-añadir {
        margin-top: 8%;
    }

    .boton-enviar {
        margin-top: 3%;
        margin-left: 10%;
    }
    .mensaje-error {
        font-size: 14px;
        margin-left: 5%;
        margin-top: 3%;
    }

    form {
        margin-top: -15%;
        margin-left: 7%;
    }

    .distribucion_usuarios {
        height: auto;
        width: 80%;
        margin-left: 10%;
        margin-top: 12%;
        border-radius: 15px;
    }

    .titulo-responsive {
        display: flex;
        justify-content: center;
        margin-top: -3%;
        padding: 8%;
        color: #FFFFFF;
        font-size: 26px;
    }

    .logo-responsive {
        display: none;
    }

    .titulo-principal {
        display: none;
    }
}