/* Estilos generales del cuerpo (body) */
body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
}

/* Estilos del contenedor principal */
.container {
    border-radius: 5px;
    background: #F3B4B4;
    height: 41vw;
    width: 60vw;
}

/* Estilos del título principal */
.titulo {
    display: flex;
    justify-content: center;
}

/* Estilos del logo para pantallas de escritorio */
.logo {
    height: 2.5%;
    width: 2.5%;
    margin-top: 2%;
    margin-left: 0.9%;
}

/* Estilos del logo responsive (oculto por defecto) */
.logo-responsive {
    display: none;
}

/* Estilos del título responsive (oculto por defecto) */
.titulo-responsive {
    display: none; 
}

/* Estilos de las secciones del formulario */
.distribucion_formulario {
    display: flex;
}

/* Estilos del botón en general */
button {
    border-radius: 5%;
    width: 11%;
    height: 23%;
    border-radius: 5px;
    background: #F65353;
    color: white;
    font-size: 18px;
    margin-left: 7%;
}

/* Estilos de las etiquetas de los inputs */
label {
    font-weight: bold;
}

/* Estilos de los inputs en el formulario */
input {
    height: 2.5vw;
    width: 20vw;
    border-radius: 3px;
    border-style: none;
    margin-top: 5%;
}

/* Estilos de las secciones de nombre y edad, email y teléfono */
.nombre, .edad, .email, .telefono {
    padding: 6%;
    margin-left: 12%;
}

.email_telefono {
    margin-left: 8%;
}

/* Estilos del contenedor de usuarios */
.distribucion_usuarios {
    height: 12vw;
    width: 51vw;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    margin-left: 7%;
    margin-top: 1%;
}

/* Estilos del botón de enviar */
.boton-enviar {
    height: 5%;
    margin-top: 1%;
    margin-left: 43%;
}

.distribucion_usuarios{
    color: #F65353;
    display: flex;
    padding: 2%;
}

#papelera{
    height: 70%;
    width: 70%;
}

#boton-eliminar{
    margin-top: 17%;
    background-color: white;
    border-style: none;
}

#div{
    display: flex;
    flex-direction: column;
}

/* Media query para pantallas pequeñas */
@media only screen and (min-width: 320px) and (max-width: 1000px) {
    /* Ajustes en el contenedor principal para pantallas pequeñas */
    .container {
        margin-top: 10%;
        height: 180vw;
        width: 90vw;
    }

    /* Ajustes en la distribución del formulario para pantallas pequeñas */
    .distribucion_formulario {
        display: flex;
        flex-direction: column;
    }

    /* Oculta las etiquetas de los inputs en pantallas pequeñas */
    label {
        margin-top: -3%;
        display: none;
    }

    /* Ajustes en el tamaño de los inputs para pantallas pequeñas */
    input {
        height: 10vw;
        width: 90%;
        margin-right: 40%;
    }

    /* Alineación de los inputs a la izquierda en pantallas pequeñas */
    .distribucion_formulario input {
        text-align: left;
    }

    /* Oculta el título principal en pantallas pequeñas */
    h1 {
        display: none;
    }

    /* Ajustes en el contenedor de nombre y edad, email y teléfono para pantallas pequeñas */
    .nombre_email {
        margin-left: -10%;
    }

    .email_telefono {
        margin-left: -10%;
        margin-top: -20%;
        margin-top: -3%;
    }

    /* Ajustes en la posición de edad, email, teléfono y nombre para pantallas pequeñas */
    .edad, .email, .telefono, .nombre {
        margin-top: -6%;
    }

    /* Ajustes en el contenedor de usuarios para pantallas pequeñas */
    .distribucion_usuarios {
        height: 55vw;
        width: 77vw;
        margin-top: 7%;
    }

    /* Ajustes en el tamaño del botón para pantallas pequeñas */
    button {
        width: 22%;
    }

    /* Ajustes en la posición del botón añadir para pantallas pequeñas */
    .boton-añadir {
        margin-left: 9%;
    }

    /* Ajustes en la posición del botón enviar para pantallas pequeñas */
    .boton-enviar {
        margin-top: 5%;
        margin-left: 40%;
    }

    /* Muestra un nuevo estilo de título en pantallas pequeñas */
    .titulo-responsive {
        display: block;
        font-size: 1.5em;
        text-align: center;
        color: #FFFFFF;
    }

    /* Estilos del logo en pantallas pequeñas (oculto por defecto en escritorio) */
    .logo {
        display: none;
    }

    /* Estilos del logo responsive en pantallas pequeñas (visible por defecto) */
    .logo-responsive {
        display: block;
        height: 7%;
        width: 7%;
        margin-top: 5.4%;
        margin-left: 3.5%;
    }
}
